html,body {
	height:100%;
}

nav {
	height: 50px;
	color:white;
	overflow:hidden;
	
	background: rgb(20,82,126); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(20,82,126,1) 3%, rgba(26,107,165,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(20,82,126,1)), color-stop(100%,rgba(26,107,165,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(20,82,126,1) 3%,rgba(26,107,165,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(20,82,126,1) 3%,rgba(26,107,165,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(20,82,126,1) 3%,rgba(26,107,165,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(20,82,126,1) 3%,rgba(26,107,165,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14527e', endColorstr='#1a6ba5',GradientType=0 ); /* IE6-9 */

}
a#dbLink {

    color: white;
    font-size: 0.9em;
    padding-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    display:block;
    float:left;
}
a#dbLink:hover{
	text-decoration:underline;
}

span#graduationLink {

    display: block;
    float: left;
    clear: both;
    padding-left: 10px;
    font-weight: 100;
    font-size: 1.7em;

}

div#content {
    height: 100%; width: 100%;  
    display: block;
    border-top: 1px solid black;
    box-shadow: 0px -6px 8px rgba(0,0,0,0.3);
}


div#logos {
	display: block;
	float: left;
	width: 206px;
}

ul.mainNav {
	height: 100%;
	display: block;
	float: left;
	font-size: 1.1em;
	padding-top:9px;
	list-style:none;
}
ul.mainNav li a {
	color:white;
	text-decoration:none;
}
ul.mainNav li a:hover {
	text-decoration:underline;
}

ul.mainNav li {
	display:block;
	float:left;
	padding: 7px 10px;
	
    border-right: 1px solid rgba(0,0,0,.1);

}
ul.mainNav li:last-child {
	border-right:none;
}

ul.mainNav li#selectedList {

	background-color: #13466B;
	border-radius: 3px;
	border: 1px solid #061E2F;
    box-shadow: inset 0px 0px 17px rgba(0,0,0,0.3);


	background: rgb(10,49,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(10,49,77,1) 0%, rgba(19,70,107,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,49,77,1)), color-stop(100%,rgba(19,70,107,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(10,49,77,1) 0%,rgba(19,70,107,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(10,49,77,1) 0%,rgba(19,70,107,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(10,49,77,1) 0%,rgba(19,70,107,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(10,49,77,1) 0%,rgba(19,70,107,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a314d', endColorstr='#13466b',GradientType=0 ); /* IE6-9 */

}

ul.mainNav li#selectedList a {
	font-weight: 800;
	line-height: 0;

}

ul.mainNav li.selected a:hover {
	text-decoration:none;
}

div.leftScroll {
	width:300px;
	background-color:#efefef;
	height:100%;
    border-right: 1px solid #a2a2a2;
    float:left;
    outline:none;
}

a#moreDropdown {

    float: right;
    padding-top: 14px;
    color: white;
    font-size: 1.1em;
    margin-right: 23px;
    
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor:pointer;

}

div.downarrow {

    width: 0;
    height: 0;
    border-top: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: relative;
    top: -12px;
    right: -40px;

}

ul.dropdownList {
    background: white;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    position: absolute;
    right: 14px;
    top: 42px;
	display:none;
}

ul.dropdownList li a {
	text-decoration:none;
}
ul.dropdownList li.selected {
	font-weight:bold;
}

div.scrollContent:first-child {
	border-top:none;
}
div.scrollContent:last-child {
	border-bottom: 1px solid #b5b5b5;
}


div.scrollContent {
	height:90px;
	border-top: 1px solid #b5b5b5;
	border-bottom: 1px solid #eee;
	cursor:pointer;
	outline:none;
    outline-width: 0;

	
	background: -moz-linear-gradient(top,  rgba(228,228,228,0) 26%, rgba(228,228,228,0.02) 28%, rgba(228,228,228,0.61) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,rgba(228,228,228,0)), color-stop(28%,rgba(228,228,228,0.02)), color-stop(100%,rgba(228,228,228,0.61))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(228,228,228,0) 26%,rgba(228,228,228,0.02) 28%,rgba(228,228,228,0.61) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(228,228,228,0) 26%,rgba(228,228,228,0.02) 28%,rgba(228,228,228,0.61) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(228,228,228,0) 26%,rgba(228,228,228,0.02) 28%,rgba(228,228,228,0.61) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(228,228,228,0) 26%,rgba(228,228,228,0.02) 28%,rgba(228,228,228,0.61) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4e4e4', endColorstr='#9ce4e4e4',GradientType=0 ); /* IE6-9 */
}

div.scrollContent:hover, div.scrollContent.selected {
	background: -moz-linear-gradient(top,  rgba(228,228,228,0) 26%, rgba(228,228,228,0.03) 28%, rgba(228,228,228,0.99) 99%, rgba(228,228,228,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,rgba(228,228,228,0)), color-stop(28%,rgba(228,228,228,0.03)), color-stop(99%,rgba(228,228,228,0.99)), color-stop(100%,rgba(228,228,228,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(228,228,228,0) 26%,rgba(228,228,228,0.03) 28%,rgba(228,228,228,0.99) 99%,rgba(228,228,228,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(228,228,228,0) 26%,rgba(228,228,228,0.03) 28%,rgba(228,228,228,0.99) 99%,rgba(228,228,228,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(228,228,228,0) 26%,rgba(228,228,228,0.03) 28%,rgba(228,228,228,0.99) 99%,rgba(228,228,228,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(228,228,228,0) 26%,rgba(228,228,228,0.03) 28%,rgba(228,228,228,0.99) 99%,rgba(228,228,228,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4e4e4', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
}

div.rightContent {
	padding:10px;
}

div.scrollContent img {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 4px;
    box-shadow: 0px 0px 1px black;
}

span.profile-name {
    display: block;
    float: left;
    font-size: 1.5em;
    margin-top: 22px;
}

span.profile-desc {
    display: block;
    float: left;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.8em;
}

div#rightContentPane {
	float:left;
	height:100%;
	position:relative;
}